@font-face {
	font-family: sourcesans;
	src: url(fonts/SourceSansPro-Regular.ttf);

}

@font-face {
	font-family: sourcesansSemibold;
	src: url(fonts/SourceSansPro-Semibold.ttf);
}

body {
	font-family: sourcesans, sans-serif;
	font-feature-settings: "ss01", "ss02", "ss03", "ss04";
	color: white;
	background-color: #282828;
}

a {
	text-decoration: none;
	color: #585858;
}

.main {
	/*padding: 300px;*/
	padding: 16%;
	width: 40%;
}

.name {
	font-family: sourcesansSemibold, sans-serif;
	font-size: 666%;
	line-height: 1;
	margin-bottom: 3%;
	margin-top: 2%;
}

.nav {
	padding-left: 1.1%;
}

.item {
	display: flex;
	width: 50%;
	color: #585858;
	stroke: #585858;
	transition: color 1s;
}

.item:hover {
	color: white;
	transition: color 1s;
}

.item svg {
	fill: #585858;
	transition: fill 1s;
}

.item:hover svg {
	fill: white;
	transition: fill 1s;
}

.caption {
	font-size: 24px;
	padding-left: 14px;
	padding-top: 12px;
	/*padding-left: 3.5%;
	padding-top: 3%;*/
}